* {
    font-family: 'Comfortaa', cursive;
    color: #fff;
}

body {
    background-color: #232323;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    background-color: #4F4F4F;
    height: 55px
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .container a {
    text-decoration: none;
    color: #fff;
}


