.blog-title {
    font-weight: bold;
    font-size: 20px;
}

.content-title {
    margin: 5vh 0;
}

.posts-container {
    max-width: 70%;
}

.post {
    background-color: #4F4F4F;
    border-radius: 20px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 20px;
    transition: all .2s ease;
}

.post .content {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post .content .title a {
    text-decoration: none;
    color: #fff;
}

.post:hover {
    transform: scale(1.02);
}

.likes {
    cursor: pointer;
    font-size: 20px;
    width: max-content;
}

.cover-img {
    height: 80%;
}

.post .content .content-text {
    padding-right: 30px;
}
