.blog-title {
    font-weight: bold;
    font-size: 20px;
}

.content-title {
    margin: 5vh 0;
}

.posts-container {
    max-width: 70%;
}

.post {
    background-color: #4F4F4F;
    border-radius: 20px;
    padding: 2vh 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 20px;
    transition: all .2s ease;
}

.post .content {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post .content .title a {
    text-decoration: none;
    color: #fff;
}

.post:hover {
    transform: scale(1.02);
}

.likes {
    cursor: pointer;
    font-size: 20px;
    width: max-content;
}

.post .content .content-text {
    padding-right: 30px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    min-height: 15vh;
    min-width: 10vw;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

@media (min-width: 1200px){
    .img-container-desktop {
        display: block;
    }

    .img-container-mobile {
        display: none;
    }
}

@media (max-width: 1200px) {
    .img-container-desktop {
        display: none;
    }

    .img-container-mobile {
        display: block;
    }

    .posts-container {
        max-width: 95%;
    }
}
